<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assign2-Group3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEC738822B896035006ADEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC738922B896038006ADEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC7389C2B896039006ADEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
